
.serviceContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.profLogo {
    height: 200px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.center {
    position: relative;
    /* margin: 0 auto; */
}

.card {
    width: 35%;
    min-height: 500px;
    transition: 1s;
}

.front,
.back {
    width: 100%;
    min-height: 450px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border-radius: 20px;
}

.front {
    transform: perspective(600px) rotateY(0deg);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    /* text-align: center; */
}

.back {
    transform: perspective(600px) rotateY(180deg);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 0;
}

.back-content {
    width: 100%;
    text-align: center;
    color: seashell;
    padding: 32px;
}

h2 {
    margin-bottom: 20px;
}

span {
    display: block;
    font-size: 20px;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

/*.card:hover {*/
/*    height: 600px;*/
/*    transition: 1s;*/
/*}*/


.serviceDescription {
    display: block;
    text-decoration: none;
    list-style-type: disc;
    color: black;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

.buyButton {
    width: 80%;
}