
.serviceContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
}

.profLogo {
    height: 100px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.service__card {
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 30%;
    height: 620px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-align: center;
    padding: 24px;
    overflow: hidden;
}

.center {
    position: relative;
    margin: 0 auto;
}

.card {
    width: 30%;
    /* min-height: 250px; */
    transition: 1s;
}

.front,
.back {
    width: 100%;
    /* min-height: 250px; */
    overflow: hidden;
    /* backface-visibility: hidden; */
    position: relative;
    /* transition: transform .6s linear; */
    border-radius: 20px;
    padding: 8px;
}

.front {
    /* transform: perspective(600px) rotateY(0deg); */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-align: center;
    padding: 24px;
    height: 120px;
}

.back {
    /* transform: perspective(600px) rotateY(180deg); */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 0;
}

.back-content {
    width: 100%;
    text-align: center;
    color: seashell;
    padding: 32px;
}

h2 {
    margin-bottom: 20px;
}

span {
    display: block;
    font-size: 20px;
}

.card:hover > .front {
    /* transform: perspective(600px) rotateY(-180deg); */
    height: 600px;
}
/* .card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}  */

/*.card:hover {*/
/*    height: 600px;*/
/*    transition: 1s;*/
/*}*/


.serviceDescription {
    display: block;
    text-decoration: none;
    list-style-type: disc;
    color: black;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

.serviceDescription li{

    text-decoration: none;
    list-style-type: disc;
    color: black;
    text-align: left;
    font-size: 10px;
}

.buyButton {
    width: 200px;
    margin: 0 auto;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: none;
    border-bottom: 2px solid #787878;
    border-top: 2px solid #787878;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 12px;
    color: black;
    outline: none;
    cursor: pointer;
}